@model MSP.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.ProductId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UnitsPerCase" class="control-label"></label>
                        <input asp-for="UnitsPerCase" class="form-control" />
                        <span asp-validation-for="UnitsPerCase" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UnitsPerPack" class="control-label"></label>
                        <input asp-for="UnitsPerPack" class="form-control" />
                        <span asp-validation-for="UnitsPerPack" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ShelfLife" class="control-label"></label>
                        <input asp-for="ShelfLife" class="form-control" />
                        <span asp-validation-for="ShelfLife" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DepartmentName" class="control-label"></label>
                        <input asp-for="DepartmentName" class="form-control" />
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ProductTypeName" class="control-label"></label>
                <input asp-for="ProductTypeName" class="form-control" />
                <span asp-validation-for="ProductTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/notify.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
